#sidebar {
  padding: 1%;
  background-color: whitesmoke;
  width: 15%;
  overflow-y: auto;
  overflow-x: hidden;
  float: left;
}

#main-layout {
  position: relative;
  padding: 1%;
  width: 81%;
  height: 100%;
  float: right;
  background-color: cadetblue;
}

#secondary-main-layout {
  width: 83%;
  height: 100%;
  float: right;
  background-color: aqua;
  font-size: 0.5rem;
  font-weight: normal;
  font-style: normal;
}

#main-pages {
  position: relative;
  padding: 1%;
  width: 81%;
  height: 100%;
  float: right;
}