.accordion {
    border: 1px solid rgb(236, 236, 236);
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    font-weight: bolder;
  }
  
  .accordion-header.open {
    background-color: #e6e6e6;
  }
  
  .accordion-content {
    padding: 10px;
  }
  
  .accordion-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
  }
  
  .accordion-icon.open {
    background-color: #666;
  }
  
  .accordion-icon span {
    display: block;
    width: 10px;
    height: 2px;
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
  }
  
  .accordion-icon.open span:first-child {
    transform: rotate(45deg);
  }
  
  .accordion-icon.open span:last-child {
    transform: rotate(-45deg);
  }
  
 