.custom-slider {
  width: 100%;
  height: 10px;
  background-color: #E8E8E8;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.custom-slider::-webkit-slider-thumb {
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
}

.custom-slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background-color: #3E79E7;
  border-radius: 50%;
  border: 2px solid #FFF;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.custom-slider::-webkit-slider-thumb:hover,
.custom-slider::-moz-range-thumb:hover {
  background-color: #3E79E7;
  box-shadow: 0 0 0 6px rgba(62, 121, 231, 0.2);
}
